body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    border: 100;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: #7200ca;
    padding: 20px;
    text-align: center;
    color: azure;
    font-weight: bold;
}

.topnav {
    overflow: hidden;
    background-color: #aa00ff;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    padding: 20px 160px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #4a148ce8;
    color: azure;
}

.topnav ul {
    list-style-type: none;
}

.colum {
    float: left;
    width: 33.33%;
    padding: 25px;
    background-color: #4a148ce8;
}

div.gallery {
    margin-left: auto;
    margin-right: auto;
}

div.gallery:hover {
    border: 1px solid white;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

input[type=text],
select,
textarea,
input[type=password],
input[type=email],
input[type=range] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

input[type=submit],
input[type=reset] {
    background-color: #aa00ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-bottom: 25px;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #4a148ce8;
    transition: 0.3s;
}

.formContainer {
    margin: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #7200ca;
    padding: 20px;
    border-radius: 5%;

}

.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
    text-align: right;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

.formRow::after {
    content: "";
    display: table;
    clear: both;
    justify-items: flex-start;
    margin-top: 25px;
}

.leftColum {
    float: left;
    width: 75%;
}

.rightColum {
    float: left;
    width: 25%;
    background-color: #aa00ff;
    padding-left: 20px;
    text-align: center;

}

.img {
    background-color: #ccc;
    width: 100%;
    padding: 20px;
    background-size: cover;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    margin-left: 0px;
    margin-right: auto;
}

.row::after {
    content: "";
    display: both;
    clear: both;
}


.footer {
    padding: 20px;
    text-align: center;
    background-color: #7200ca;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.footerSocial {
    display: flex;
    flex-wrap: nowrap;

}

.footerSocial>div {
    background-color: #7200ca;
    width: 3%;
    margin: 5px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;

}

.footerSocial>div>img {
    text-align: center;
    float: right;
    border: none
}

.footerSocial>div>p {
    text-align: center;
    float: center;

}


@media screen and (max-width: 400px) {

    .leftColum,
    .rightColum {
        width: 100%;
        padding: 0;
    }

    .topnav a {
        float: none;
        width: 100%;
    }
}


@media screen and (max-width: 600px) {

    .col-20,
    .col-70,
    input[type=submit],
    input[type=reset] {
        width: 100%;
        margin-top: 0;
    }

    .colum {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {

    .leftColum,
    .rightColum {
        width: 100%;
        padding: 0;
    }
}